/* מיכל לכל העגלות */
.trailsBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

/* כרטיס עגלה */
.trailCard {
    width: 350px;
    background-color: #f8f5f2;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    transition: 0.3s;
}

    .trailCard:hover {
        transform: translateY(-5px);
    }

/* תמונה */
.trailImg {
    width: 100%;
    height: 220px;
    object-fit: cover;
    display: block;
}

/* החלק הלבן */
.trailInfo {
    background-color: white;
    padding: 20px;
}

    /* שם העגלה */
    .trailInfo h2 {
        margin-top: 0;
        margin-bottom: 15px;
        color: #5b3d2e;
    }

    /* טקסט */
    .trailInfo p {
        margin: 8px 0;
        line-height: 1.5;
    }
