h1 {
    text-align: center;
    margin: 30px 0 50px;
    font-family: 'Guttman Aharoni';
    font-size: 50px;
}

.gallery{
    margin:10px 50px;
}
.gallery img{
    width: 300px;
    height: 200px;
    padding:5px;
}
.gallery img:hover{
    transform: scale(1.3);  
}


