

/* כל העיצוב של הדף */
.about-site {
    width: 80%;
    margin: 60px auto;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    display: flex;

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);
    justify-content: space-between;
}

/* העיצוב של הטקסט */
.about-content {
    width: 100%;
    padding: 50px;
    text-align: right;
}

    /* עיצוב של הכותרת */
    .about-content h2 {
        color: #5b3a29;
        font-size: 36px;
        font-family: 'Guttman Aharoni';
        text-align: center;
    }

    /* עיצוב של פסקה */
    .about-content p {
        width: 100%;
        font-size: 18px;
        line-height: 1.9;
        color: #555;
        font-family: Calibri;
    }

/* גודל תמונה */
.about-image {
    padding: 20px;
    width: 50%;
    top: 10px;
    left: 100px;
    
}
    /* עיצוב נוסף של תמונה */
    .about-image img {
        width: 95%;
        height: 400px;
        object-fit: cover;
        border-radius: 10%;
    }     
    