body { 
    background-color: #FFF4FA;
    font-family: Calibri;
}

/*עיצוב על הדף*/
form { 
    width: 300px;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 15px lightgray;
    text-align: right;
}

/*עיצוב של איפה שרושמים*/
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-sizing: border-box;
}
