/* עיצוב של חיפוש + שליחה */

/* עיצוב של תיבת חיפוש */
input[type=search] {
    width: 250px;
    padding: 10px; /* רווח פנימי בתוך תיבת החיפוש */
    border: 2px solid #F5C1E1; /* מסגרת מסביב לתיבת החיפוש */
    border-radius: 20px; /* פינות מעוגלות */
    font-family: Calibri;
    font-size: 16px;
}

    /* כשהאלמנט נבחר/פעיל להקלדה */
    input[type=search]:focus {
        outline: none; /* מבטל את המסגרת שמופיעה אוטומטית בעת בחירה */
        border-color: #E79ACB; 
    }

/* טבלה */

/* כל הטבלה */
.pinkTable {
    width: 75%;
    margin: 30px auto; /* רווח חיצוני ומרכוז הטבלה */
    border-collapse: collapse; /* מחבר את גבולות התאים לגבול אחד */
    background-color: white;
    box-shadow: 0 3px 8px rgba(0,0,0,0.1); 
    border-radius: 15px; /* פינות מעוגלות */
    overflow: hidden; /* מסתיר תוכן שחורג מגבולות הטבלה */
    font-family: Calibri;
}

    /* עיצוב שורת הכותרות */
    .pinkTable th {
        background-color: #F5C1E1;
        color: #4A4A4A;
        font-size: 20px;
        padding: 15px; /* רווח פנימי  */
    }

    /* עיצוב התאים */
    .pinkTable td {
        padding: 12px; /* רווח פנימי  */
        text-align: center; 
        color: #555;
        border-bottom: 1px solid #FBE9FA; /* קו תחתון בין השורות */
    }

    /* צביעת שורות - זוגי */
    .pinkTable tr:nth-child(even) {
        background-color: #FDF5FC; 
    }

    /* אפקט כשעוברים עם העכבר */
    .pinkTable tr:hover {
        background-color: #FBE9FA; 
    }
