.table {
  font-family: 'Rubik';
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(255 255 255 / 0.76);
  font-size: 30px;
}

td, th {
  border: 3px solid #000000;
  text-align: right;
  padding: 8px;
}
